.edit-form__title {
    max-width: 330px;
    margin: 0;
    padding-bottom: 51px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
    line-height: 1.21
}

@media screen and (max-width: 539px) {
    .edit-form__title {
        max-width: 100%;
        padding-bottom: 75px;
        font-size: 18px;
    }
}