.edit-form__submit-button {
    margin: 0;
    min-height: 50px;
    background-color: #000;
    border: none;
    border-radius: 2px;
    outline: none;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 1.21;
    color: #fff;
    text-align: center;
    cursor: pointer;
    filter: drop-shadow(0 0 0 #fff);
    opacity: 1;
    transition: opacity .5s linear, filter .5s linear;
}

.edit-form__submit-button:hover {
    opacity: .8;
    filter: drop-shadow(0 4px 4px #00000040);
}

@media screen and (max-width: 539px) {
    .edit-form__submit-button {
        min-height: 46px;
    }
}