.profile__info {
    grid-column: 2;
    padding-left: 30px;
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 16px 18px;
}

@media screen and (max-width: 1023px) {
    .profile__info {
        padding-left: 20px;
        column-gap: 14px;
    }
}

@media screen and (max-width: 599px) {
    .profile__info {
        padding: 26px 0 36px;
        grid-column: 1;
        grid-template-columns: 1fr;
        gap: 14px 9px;
        justify-content: center;
    }
}